*{
    padding: 0;
    margin: 0;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #262626;
    background-image: linear-gradient(to right, #333 1px, transparent 1px),
    linear-gradient(to bottom, #333 1px, transparent 1px);
    background-size: 5vh 5vh;
    overflow: hidden;
}
h2{
    color: #fff;
    font-size: 8em;
    font-family: consolas;
    text-shadow: 2px 2px 50px rgb(152, 7, 55),  -2px -2px 50px rgb(152, 7, 55);
}
.circle{
   position: absolute;
   top: 0;
   width: 20px;
   aspect-ratio: 1/1;
   border-radius: 50%;
   border: 5px solid rgb(0, 0, 0.6);
   background: #0f0;
   animation: animate 10s linear forwards;
   transform-origin: top;
}                                                         
@keyframes animate{
    0%{
        transform: translateY(0vh) scale(0);
    }
    10%{
        transform: translateY(0vh) scale(1);
    }
    45%{
        transform: translateY(0vh) scale(1);
    }
    55%{
        transform: translateY(calc(100vh - 100%)) scale(0);
        
    }
    90%{
        transform: translateY(calc(100vh - 100%)) scale(1);
        transform-origin: bottom;
    }
    100%{
        transform: translateY(calc(100vh - 100%)) scale(0);
        transform-origin: bottom;
    }
}